/* Bundled fonts (all OFL, licences next to the files). Nothing is loaded from the network. */
@font-face {
  font-family: "Sora";
  src: url("fonts/sora/Sora%5Bwght%5D.ttf") format("truetype");
  font-weight: 100 800;
  font-display: block;
}
@font-face {
  font-family: "Geist";
  src: url("fonts/geist/Geist%5Bwght%5D.ttf") format("truetype");
  font-weight: 100 900;
  font-display: block;
}
@font-face {
  font-family: "Geist Mono";
  src: url("fonts/geistmono/GeistMono%5Bwght%5D.ttf") format("truetype");
  font-weight: 100 900;
  font-display: block;
}
@font-face {
  font-family: "Doto";
  src: url("fonts/doto/Doto%5BROND%2Cwght%5D.ttf") format("truetype");
  font-weight: 100 900;
  font-display: block;
}
